// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 1em;
}

ul {
  margin-top: 10px;
  padding-left: 0;
  list-style-type: none;
}

input[type="checkbox"] {
  vertical-align: -2px;
}

p {
  padding: 30px;
  background: #EFF3EF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

form {
  width: 100%;
}

.container {
  padding: 0;
}

#show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
